@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');




$desaturatedDarkCyan: hsl(180, 29%, 50%);
$lightGrayishCyanBackground: hsl(180, 52%, 96%); 
$lightGrayishCyanFilterTables: hsl(180, 31%, 95%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);







body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}


.job-container {

    #job-listing {
        border: 1px solid green;
        li {
            border: 1px solid purple;
            list-style: none;
        }
        img {
            border: 1px solid red;
        }
       
       .job-logo {
        //    background-color: red;
       }
       .job-card {
        //    background-color: blue;
       }
       .posted {
           color: red;
       }
       .company {
            color: blue;
       }
       .isNew {
           color:white;
           background-color: teal;
       }
       .featured {
           background-color: black;
           color: white;
       }
       .position {
           font-weight: 700;
       }
       .role {
           color: green;
       }
       .contract {
            color: silver;
       }
       .role {
           color: purple;
       }
       .where {
           color: lightsalmon
       }
       .level {
         background-color: red;
       }
       .languages {
          color: lime;
       }
     
    }
}