@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');




$desaturatedDarkCyan: hsl(180, 29%, 50%);
$lightGrayishCyanBackground: hsl(180, 52%, 96%); 
$lightGrayishCyanFilterTables: hsl(180, 31%, 95%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);







body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background-color: $lightGrayishCyanBackground;
    padding: 0;
    margin: 0;
   
}
header {
    background-image: url(./images/bg-header-desktop.svg);
    background-repeat: no-repeat;
    height: 155px;
    width: 100%;
    background-color: $desaturatedDarkCyan;
    border-bottom: 1px solid $desaturatedDarkCyan;
    background-size: cover;
}

.job-container {
    
    #job-listing {
        
        li {
            border: 1px solid purple;
            list-style: none;
            width: 80%;
            height: 153px;
            margin: 1.5rem auto;
            border-radius: 5px;
            
        }
        
       
       .job-logo {
        margin-left: 2.5rem;
            margin-top: 2rem;
            width: 80px;
       }
       .job-card {
        //    background-color: blue;
       }
       .posted {
           color: red;
       }
       .company {
            color: blue;
       }
       .isNew {
           color:white;
           background-color: teal;
       }
       .featured {
           background-color: black;
           color: white;
       }
       .position {
           font-weight: 700;
       }
       .role {
           color: green;
       }
       .contract {
            color: silver;
       }
       .role {
           color: purple;
       }
       .where {
           color: lightsalmon
       }
       .level {
         background-color: red;
       }
       .languages {
          color: $desaturatedDarkCyan;
          background-color: hsla(180, 8%, 52%, .1);
          
       }
     
    }
}